---
const tulisan = await Astro.glob("./post/*.mdx");

let semuaKategori = [];
for (let x of tulisan) {
  semuaKategori.push(x.frontmatter.kategori);
}
semuaKategori = [...new Set(semuaKategori)].sort();

let semuaTulisan = [...tulisan].sort((a, b) =>
  new Date(a.frontmatter.tanggal) < new Date(b.frontmatter.tanggal) ? 1 : -1
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zen</title>
  </head>
  <body>
    <h1 class="p-3 font-bold uppercase">Zen</h1>
    <div class="p-2 flex gap-2 overflow-x-auto sticky top-0 bg-black">
      <a class="itemnya" href="/">all</a>
      {
        semuaKategori.map((x) => (
          <a class="itemnya" href={`/kategori/${x}`}>
            {x}
          </a>
        ))
      }
    </div>
    <div class="p-2 flex flex-col gap-3">
      {
        semuaTulisan.map((x) => (
          <a
            href={x.url}
            class="border-2  border-black block p-2"
            style="box-shadow: 2px 2px 0 0 black"
          >
            <h2 class="font-bold text-lg">{x.frontmatter.judul}</h2>
            <p class="text-sm">{x.frontmatter.ringkasan}</p>
          </a>
        ))
      }
    </div>
  </body>
</html>

<style>
  .itemnya {
    @apply text-sm  px-1  text-white font-bold;
  }
</style>
